.main{
    width: 100vw;
    background-color: #1C1D20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contactContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;

        .Heading{
            width: 80vw;
            display: flex;
            flex-direction: column;

            .buttonContainer{
                z-index: 1;
                position: absolute;
                left: calc(60%); 
                // bottom: -38vh;
            }

            .button{
                margin-top: 20vh;
                width: 180px;
                height: 180px;
                background-color: #455CE9;
                color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 0px;
                z-index: 1;
            }
        }

        .Title{
            margin-top: 20vh;
            color: white;
            font-size: 64px;
            font-weight: 100;
            margin-bottom: 12px;
        }
        
        form{
            display: flex;
            flex-direction: column;
            width: 80vw;
            margin-top: 20vh;
            .labels{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .error{
                    font-size: 20px;
                    font-weight: 400;
                    color: #E5554E;
                }
            }
            label{
                font-weight: 100;
                font-size: 32px;
                margin: 24px 0 0 0;
                color: #fff;
            }
            input, textarea{
                //z-index: 300;
                margin-top: 24px;
                background-color: transparent;
                padding: 24px;
                border: none;
                font-size: 32px;
                font-weight: 400;
                color: #57585A;
                outline: none;
            }
            input{
                height: 50px;
                
            }
            textarea{
                height: 250px;
                margin-bottom: 48px;
            }

            .sendContainer{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
            }

            .buttonContainer{
                z-index: 1;
                position: absolute;
                left: calc(60%); 
                // bottom: -38vh;
            }

            .button{
                margin-top: 0;
                width: 180px;
                height: 180px;
                background-color: #455CE9;
                color: white;
                border-radius: 50%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                cursor: pointer;
                padding: 0px;
                overflow: hidden;
                font-size: 16px;
                transition: box-shadow 0.4s, background-color 0.4s;
                &:hover {
                    box-shadow: inset 0 0 0 4px #ef476f, 
                        inset 0 0 0 8px #ffd166, 
                        inset 0 0 0 12px #06d6a0,
                        inset 0 0 0 16px #118ab2,
                        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
                        0px 0px 50px 0px #334BD3;
                    background-color: #455CE9;
                    color: #fff;
                }
            }
        }
    }
    .thanksContainer{
        margin-top: 20vh;
        color: white;
        font-size: 64px;
        font-weight: 100;
        margin-bottom: 12px;
    }
    .info{
        display: flex;
        width: 100vw;
        height: 20vh;
        justify-content: space-between;
        margin-top: 200px;
        padding: 20px;
        div{
            display: flex;
            gap: 10px;
            align-items: flex-end;
            margin-right: 24px;
            a, h3{
                margin: 0px;
                padding: 2.5px;
                cursor: pointer;
            }
            a{
                color: white;
                text-decoration: none;
                &::after{
                    content: "";
                    width: 0%;
                    height: 1px;
                    background-color: white;
                    display: block;
                    margin-top: 2px;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: width 0.2s linear;
                }
                &:hover{
                    &::after{
                        width: 100%;
                    }
                }
            }
            span{
                display: flex;
                flex-direction: column;
                margin-left: 24px;
                gap: 15px;
                color: white;
            }
            h3{
                color: grey;
                cursor: default;
                font-weight: 300;
                font-size: 1em;
            }
        }
        
    }
}