.circleContainer{
    position: relative;
    z-index: 10;

    .circle{
        height: 1550%;
        width: 120vw;
        left: -10%;
        border-radius: 0 0 50% 50%;
        background-color: white;
        z-index: 1;
        position: absolute;
        box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
    }
}
.main{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}